@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
}
body {
  background-color: rgb(236, 235, 235);
  font-family: montserrat;
}
button {
  background-color: rgb (236, 235, 235);
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
.ocultar {
  display: none;
}
/*Aqui comienza menu carrito OVERLAY*/
.overlay {
  width: 100vw;
  height: 100vh;
  background-color: rgba(199, 199, 199, 0.513);
  position: absolute;
  top: 0;
}

#overlay {
  height: 100vh;
  width: 400px;
  background-color: white;
  position: absolute;
  top: 0;
  right: 0px;
}

.titulo-menu-carrito {
  padding: 15px;
}
#cerrar {
  width: 30px;
  position: absolute;
  top: 0;
  right: 20px;
  margin: 15px;
}
/*Barra de Navegacion*/
.header-nav {
  display: flex;
  justify-content: space-between;
  height: 90px;
  align-items: center;
}
.logo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 40px;
  margin: 60px;
}

.titulo-logo {
  padding-left: 20px;
  font-weight: 400;
}

.carrito {
  display: flex;
  padding: 40px;
  margin: 60px;
}
.carro,
.fa-shopping-cart {
  padding: 15px;
}
/*Aqui comienzan Filtros de busqueda */

#limpiar {
  padding-top: 4px;
}

.encabezado-filtros {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.fa-search {
  position: relative;
  top: 0;
  right: 22px;
}
.busqueda {
  border: 0;
  border-bottom: 2px solid gray;
  font-size: 14px;
  color: black;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.categoria,
.puntaje,
.busqueda {
  margin: 20px 0 20px;
}

.check {
  margin-right: 10px;
}
form {
  display: flex;
  flex-direction: column;
}

.background-foto {
  width: 100%;
  min-height: 300px;
  background-image: url(img/banner.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.background-foto::before {
  content: "";
  display: block;
  position: absolute;
  min-height: 300px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.electronica {
  color: white;
  z-index: 1;
}
.cuerpo {
  display: flex;
  justify-content: center;
}
.filtros {
  border-color: black;
  width: 20%;
  display: flex;
  flex-direction: column;
  margin: 5% 4% 1% 4%;
}

.categoria {
  display: flex;
  flex-direction: column;
}
.puntaje {
  display: flex;
  flex-direction: column;
}
.mostrando {
  margin: 15px;
}
.fa-star {
  color: rgb(255, 208, 0);
}
.header-tarjetas {
  display: flex;
  justify-content: space-between;
  background-color: white;
  margin: 5% 4% 1% 4%;
}
.ver {
  margin: 15px;
  display: flex;
  flex-direction: row;
  width: 20%;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.ver-como,
.fa-th,
.fa-list-ul {
  padding: 15px;
}
/* Seccion Tarjetas*/
.seccion-tarjetas {
  border-color: black;
}
.contenedor-tarjetas {
  border-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tarjeta {
  border-color: black;
  margin: 15px;
  background-color: white;
  padding: 75px;
  /*si pongo 4.3% queda igual que 75px*/
}
.div-foto {
  width: 300px;
  height: 300px;
}
.producto {
  width: 100%;
}
.div-especificaciones {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.comprar {
  background-color: rgb(226, 223, 223);
  border: none;
  border-radius: 14px;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
